name: Simple example of using

on: [push]

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Setup GraalVM
        uses: DeLaGuardo/setup-graalvm@master
        with:
          graalvm: 21.0.0.2
          java: java11
          arch: amd64

      - name: Check java binary
        run: java -version

      - name: Check gu binary
        run: gu install native-image

  linux_deprecated:
    runs-on: ubuntu-latest
    steps:
      - name: Setup GraalVM
        uses: DeLaGuardo/setup-graalvm@master
        with:
          graalvm-version: 21.0.0.2.java11

      - name: Check java binary
        run: java -version

      - name: Check gu binary
        run: gu install native-image

  simple:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        gu-binary: [gu, gu.cmd]
        exclude:
          - os: ubuntu-latest
            gu-binary: gu.cmd
          - os: macos-latest
            gu-binary: gu.cmd
          - os: windows-latest
            gu-binary: gu
    steps:
      - name: Setup GraalVM
        uses: DeLaGuardo/setup-graalvm@master
        with:
          graalvm: 21.0.0.2
          java: java11

      - name: Check java binary
        run: java -version

      - name: Check gu binary
        run: ${{ matrix.gu-binary }} install native-image

  issue_17:
    runs-on: macos-latest
    steps:
      - name: Setup GraalVM
        uses: DeLaGuardo/setup-graalvm@4.0
        with:
          graalvm: 21.0.0.2
          java: java11
          arch: amd64

      - name: Check java binary
        run: java -version

      - name: env
        run: set

      - name: List RUNNER_TEMP
        run: ls -lR ${RUNNER_TEMP}

      - name: Check gu binary
        run: gu install native-image
